*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#780c99;
}
div{
  background-color: lavender;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  color:#9b9cd1;
}
nav{
  display:flex;
  justify-content: center;
  gap: 30px;
  background-color:#a8a499;
  padding: 15px;
  font-size: 19px;
  font-weight: bold;
  color:brown;
}
