body{
  background-color: turquoise;
}
button{
  background-color:rgb(255,255,2);
}

img{
  object-fit:cover;
  height: 50px;
  width: 50px;
  border: 2px solid deeppink;
  padding: 2px;
  gap: 3px;
}
