body{
    background-color:khaki;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smmothing: grayscale;
}

code{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:powderblue;
    padding: 10px;
}
nav input{
    width: 300px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border: none;
}
.searchBar{
    display: flex;
    align-items: center;
    gap:12px;
}
nav button {
    width: 100px;
    height: 40px;
    background-color: peru;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    cursor: pointer;

}
nav ul{
    display: flex;
    gap: 12px;
}
.cardContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 380px;
    box-shadow: 0px 5px 5px 5px rgb(130, 130, 130);
    background-color: lavender;
    border-radius: 5px;
    margin-top: 25px;
    border: 2px solid rgb(206, 98, 98);
}
.card img{
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card .title{
    font-weight: 650;
    font-size: 20px;
    margin-top: 10px;

}
.card .title:hover{
    border-bottom: 2px solid cyan;
    cursor: pointer;
}
.card .content{
    padding: 10px;
}
.card button{
    background-color: rgb(255, 190, 255);
    border: none;
    cursor: pointer;
    width: 100px;
    height:60px;
    color:crimson;
    font-size: 15px;
    border-radius: 5px;
    
}
.categoryBtn{
    display: flex;
    justify-content: center;
    gap:15px;
}
.categoryBtn button{
    gap:15px;
    width: 140px;
    height: 40px;
    background-color: rgb(255, 109, 109);
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    color:ghostwhite;
    cursor: pointer;
    padding: 5px;
}
.head{
    color:goldenrod;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}