.player{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}
.player-left{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 40%;
}
.player-img{
    width: 60px;
    height: 60px;
    border-radius: 7px;
    object-fit: cover;

}
.player-song{
    font-size: 15px;
}
.player-artist{
    font-size: 15px;
    color: #b3b3b3;
}
.player-center{
    flex: 1;
}
.player-center input[type="range"]{
    accent-color: #1db954;
    width: 100%;
}
.controls{
     margin-top: 7px;
     text-align: center;
}
.controls button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}