.song-list {
  margin-top: 20px;
}

.song {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  gap: 15px;
}

.song:hover {
  background-color: #282828;
}
.song-img{
  width:50px;
  height: 50px;
  border-radius: 7px;
  object-fit: cover;
}

.song-name {
  font-size: 14px;
  color: white;
}

.song-artist {
  font-size: 12px;
  color: #b3b3b3;
}
