body{
  background-color:lightgrey;
}
h1{
  background-color:blue;
  font-size: 20px;
  color: bisque;
}
img{
  width: 600px;
  height: 90px;
  border:7px solid cadetblue;
  display: flex;
  justify-content: center;

}