*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
html,body{
     height:100%;
     width:100%;
}
body{
    background-color: darkslategray;
}
.card{
    width: 200px;
    border:1px solid papayawhip;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color:grey;
    
}
.parent{
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    gap:10px

}

.card button{
      padding: 10px 20px;
      background-color: white;
      color:black;
      border: none;
      border-radius: 10px;
} 
.card p{
    margin:25px 0;
}
.card img{
    height:100px;
    width: 100px;
    object-fit:cover;
    border-radius:50%;

} 
