 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:oldlace;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
}
p{
    text-align: center;
    margin-top: 19px;
}
a{
    text-decoration: underline;
    color: darkblue;

}