*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
div .fivetropy:hover {
    color: #ffd505;
    margin-top: 20px;
    font-size: 20px;
}
div .fivetimes:hover {
    color:#1f56e0;
}
div .twotimes:hover{
    color:#993300;
}
.title:hover{
    color:#f757a2;
}

.no:hover{
    color:#ff3034;
}
.one:hover{
    color:#302675;
}
.otc:hover{
    color: #031017;
}
.nc:hover{
    color:#0033ff;
}
.ot:hover{
    color:#661737;
}
.nac:hover{
    color: #1e428f;
}
.card{
    background-color: yellowgreen;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    

}



 img{
    width: 50%;
    height: 200px;
    border-radius: 30px;
    object-fit: cover;

}
.card img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: black;
}
