*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
}
div .fivetropy {
    color: yellow;
    margin-top: 20px;
    font-size: 20px;
}
div .fivetimes:hover {
    color: lightblue;
}
div .twotimes{
    color: orange;
}
div .one{
    color: pink;
}
.no{
    color:red;
}
.one:hover{
    color:indigo;
}
.card{
    background-color: yellowgreen;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    

}



 img{
    width: 50%;
    height: 200px;
    border-radius: 30px;
    object-fit: cover;

}
.card img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: darkmagenta;
}
