*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}
html,body{
     height: 100%;
     width:100%;
}
body{
    background-color:palegreen;
}

h2{
    padding: 15px;
    text-align:center;
    color: darkmagenta;
}
.card img{
    height:64px;
    width: 64px;
    margin-bottom: 16px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(8, 8, 8, 0.07);

} 
.card{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(163, 19, 115, 0.5);
    border-radius: 16px;
    padding: 25px;
    box-shadow:  0 20px 41px rgba(0,0,0,0,0.1),
                 0 2px 3px rgba(0,0,0,0.05),
                 inset 0 2px 0 rgba(255,255,255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 200px;
    max-width: 384px;
    margin: 0 auto;
    transition: all 0.4s ease;
    color:#1f2937;
}
.card:hover{
    box-shadow: 0 26px 50px rgba(0,0,0,0.15),
                0 2px 4px rgba(0,0,0,0.05);
                inset: 0 2px 0 rgba(255,255,255,0.9);
    transform: translateY(-4px);            
}
.card h5{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 9px;
}
.card p.role{
    font-size: 20px;
    color: #4b5563;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p.salary{
    font-size: 24px;
    font-weight: 900;
    color: #2563eb;
    margin-bottom: 24px;
}
.btn{
    background: linear-gradient(100deg, #3b82f6 0%, #1d4edb 150%);
    color: white;
    padding: 8px 25px;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.3);
    transition: all 0.2s ease;
}

.btn:hover{
    background: linear-gradient(90deg, #2563eb 0%, #1e40af 100%);
    box-shadow: 0 12px 24px rgba(59,130,246,0.4);
    transform: translate(-1px);
}
.job-grid{
    padding: 32px;
    background: linear-gradient(135deg, #f9fafb 0%, #f3f4f6 100%);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1152px;
    margin: 0 auto;
}
@media(min-width: 768px){
    .job-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1024px){
    .job-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


    

