*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: olive;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app{
  min-height: 200vh;
  background-color: olive;
  color: beige;
  padding: 20px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.loading{
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-style: italic;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  width:100%;
  margin: 0 auto;

}
.card{
  width: 200px;
  background-color:violet;
  padding: 15px;
  border-radius:12px;
  text-align:center;
}
.card img{
  width: 100%;
  height:180px;
  object-fit: cover;
  border-radius: 20px;
}
.card p{
  margin-top: 10px;
  font-weight:bolder;
  font-size: 15px;
}

div .buttons {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #440a1b;
  color: rosybrown;
  cursor: pointer;
  transition: border-color 0.25s;
}
div.buttons:hover {
  border-color:yellow;
}
div.buttons:focus{
  outline:none;
  border-color: wheat;
}
div.buttons:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
img:hover{
  transform: rotate(5deg);
  transition: transform 0.2s ease-in-out;
}
