*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app{
    display: flex;
    height: 100vh;
}

.main-content {
    flex:1;
    margin-left: 220px;
    margin-top: 60px;
    margin-bottom: 90px;
    padding: 25px;
    overflow-y: auto;
}